<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= @contact.full_name %> </title>
  </head>

  <body>
    <ul class='contact-details'>
      <li>First name:     <%= @contact.first_name %></li>
      <li>Last name:      <%= @contact.last_name %></li>
      <li>Email:          <%= @contact.email %></li>
      <li>Note:           <%= @contact.note %></li>
    </ul>

    <form action='/contacts/<%= @contact.id %>/edit' method='get'>
      <input type='submit' value='Edit'>
    </form>

    <form action='/contacts/<%= @contact.id %>' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete'>
    </form>
  </body>
</html>
